<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add a new user</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class='flashes'>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action='/users/new' method='post'>
        First Name : <input type='text' name='firstName'>
        Last Name : <input type='text' name='lastName'>
        Email : <input type='email' name='email'>
        <input type='submit' value='create'>
    </form>
</body>
</html>